﻿@model NickWardOnline.Web.Models.ViewModels.vmPost

<section class="page-header dark page-header-xs">
    <div class="container">
        <h1>BLOG</h1>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <h1 class="blog-post-title">@Model.Title</h1>
                <ul class="blog-post-info list-inline">
                    <li>
                        <a href="#">
                            <i class="fa fa-clock-o"></i>
                            <span class="font-lato">@Model.Published</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comment-o"></i>
                            <span class="font-lato">28 Comments</span>
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-folder-open-o"></i>

                        <a class="category" href="#">
                            <span class="font-lato">Design</span>
                        </a>
                        <a class="category" href="#">
                            <span class="font-lato">Photography</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span class="font-lato">@Model.Author.DisplayName</span>
                        </a>
                    </li>
                </ul>

				<img src="@Url.Content(Model.ImagePath)" alt="" height=100 width=200 />

                <p>@Html.Raw(Model.Content)</p>

                <div class="divider divider-dotted"></div>

                <a class="tag" href="#">
                    <span class="txt">RESPONSIVE</span>
                    <span class="num">12</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">CSS</span>
                    <span class="num">3</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">HTML</span>
                    <span class="num">1</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">JAVASCRIPT</span>
                    <span class="num">28</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">DESIGN</span>
                    <span class="num">6</span>
                </a>
                <a class="tag" href="#">
                    <span class="txt">DEVELOPMENT</span>
                    <span class="num">3</span>
                </a>

                <div class="clearfix mt-30">
                    <span class="float-left mt-6 bold hidden-xs-down">
                        Share Post:
                    </span>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin float-right" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest float-right" data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="icon-pinterest"></i>
                        <i class="icon-pinterest"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
                        <i class="icon-email3"></i>
                        <i class="icon-email3"></i>
                    </a>

                </div>

                <div class="divider"></div>

                <ul class="pager">
                    <li class="previous"><a class="b-0" href="#">&larr; Previous Post</a></li>
                    <li class="next"><a class="b-0" href="#">Next Post &rarr;</a></li>
                </ul>

                <div class="divider"></div>
            </div>

            <div class="col-md-3 col-sm-3">

                <div class="inline-search clearfix mb-30">
                    <form action="#" method="get" class="widget_search">
                        <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>

                <hr />

                <h3 class="hidden-xs-down fs-16 mb-20">TAGS</h3>
                <div class="hidden-xs-down mb-60">
                    <a class="tag" href="#">
                        <span class="txt">RESPONSIVE</span>
                        <span class="num">12</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">CSS</span>
                        <span class="num">3</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">HTML</span>
                        <span class="num">1</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">JAVASCRIPT</span>
                        <span class="num">28</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DESIGN</span>
                        <span class="num">6</span>
                    </a>
                    <a class="tag" href="#">
                        <span class="txt">DEVELOPMENT</span>
                        <span class="num">3</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>