﻿@model IEnumerable<NickWardOnline.Web.Models.ViewModels.vmPost>

<div id="ei-slider" class="ei-slider" data-tumbwidth="100">
    <ul class="ei-slider-large m-0">
        @foreach (var item in Model)
        {
            <li>
				<img src="@Url.Content(item.ImagePath)"/>
                <div class="ei-title">
                    <h2>@item.Title</h2>
                    <h3><button type="button" class="btn btn-primary">@Html.ActionLink("Continue", "post", new { controller = "home", postId = item.Id })</button></h3>
                </div>
            </li>
        }
    </ul>
    <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        @foreach (var item in Model)
        {
            <li><a href="#">Slide 1</a><img src="@Url.Content(item.ImagePath)" /></li>
        }
    </ul>
</div>
