﻿@model IEnumerable<NickWardOnline.Web.Models.ViewModels.vmPost>
@{
    ViewBag.Title = "Welcome to NickWardOnline.co.uk";
    ViewBag.IsIndex = true;
}

@Html.Partial("_renderSlider")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="margin-bottom-40">
                    <h1 class="weight-300">Welcome</h1>
                    <h2 class="weight-300 letter-spacing-1 size-13"><span>WHERE TECHNOLOGY DRIVES INNOVATION</span></h2>
                    <p>I'm Nick and I'm a professional Software Engineer</p>
                    <h3>More content to follow soon...</h3>
                    <div class="divider divider-circle divider-color divider-right">
                        <!-- divider -->
                        <i class="fa fa-star-o"></i>
                    </div>
                </header>
                <hr />
            </div>
        </div>
    </div>
</section>
