﻿@model IEnumerable<NickWardOnline.Web.Models.ViewModels.vmPost>
@{
    ViewBag.Title = "Tag";
    ViewBag.IsIndex = true;
}

<h2>Posts Tagged with @ViewBag.Tag</h2>

@Html.Raw(string.Join("<hr/>", Model.Select(p => Html.Partial("_renderPost", p))))