﻿@model IEnumerable<NickWardOnline.Web.Models.ViewModels.vmPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_PostLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@AntiForgery.GetHtml()
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="" height=100 width=200 />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.DisplayName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { data_action = "delete", data_value = item.Title })
            </td>
        </tr>
    }

</table>
