﻿@model NickWardOnline.Web.Models.ViewModels.vmLogin

@{
    ViewBag.Title = "Login";
}

@Html.AntiForgeryToken()

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <img src="~/assets/images/139500-200.png" />
            </div>
            <div class="col-md-4">
                <h2 class="fs-16">Admin Login</h2>
                @using (Html.BeginForm())
                {
					@Html.ValidationSummary(true)

                    <div class="clearfix">
                        <div class="form-group">
                            <input class="form-control" data-val="true" id="UserName" name="UserName" placeholder="Username" type="text">
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" data-val="true" id="Password" name="Password" placeholder="Password" type="password">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-tip pt-20">
                                <a class="no-text-decoration fs-13 mt-10 block" href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            <button type="submit" class="btn btn-primary">LOG IN</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
