﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/core/css/admin")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@{
						Html.RenderAction("AdminMenu", new { controller = "admin", area = "admin" });
						Html.RenderAction("AuthenticationLink", new { controller = "admin", area = "admin" });
					}
				</ul>
			</div>
		</div>
	</div>

	@RenderBody()

	<script src="~/scripts/jquery-2.1.1.min.js"></script>
	<script src="~/scripts/jquery-ui.min-1.11.1.js"></script>
	@Scripts.Render("~/bundles/scripts/admin")
	<script src="~/assets/js/ckeditor/ckeditor.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
