﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="Welcome to NickWardOnline.co.uk | Technology | Web Development | Artificial Intelligence | Dev Ops" />
    <meta name="Author" content="Nick Ward" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/core/css")
</head>

<body class="smoothscroll enable-animation">

	@Html.Partial("_renderTopMenu")
	@Html.Partial("_renderCookieAlert")

	<div id="wrapper">
		<div id="header" class="navbar-toggleable-md sticky clearfix fixed">
			<div id="topNav" class="container">

				<a class="logo float-left" href="#">
					<img src="~/assets/images/logo.png" />
				</a>

				<div class="float-right">
					<ul class="topNavBtn list-inline">
						<li>
							<button id="menu_overlay_open">
								<span></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		@RenderBody()
		@Html.Partial("_renderFooter")
	</div>

	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>

	<!-- PRELOADER -->
	<div id="preloader">
		<div class="inner">
			<span class="loader"></span>
		</div>
	</div><!-- /PRELOADER -->

	<!-- JAVASCRIPT FILES -->
	<script type="text/javascript">var plugin_path = '../assets/plugins/';</script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/scripts")
	@RenderSection("scripts", required: false)
</body>
</html>
