﻿<!--
    COOKIE ALERT

        .alert-primary
        .alert-warning
        .alert-danger
        .alert-info
        .alert-position-bottom		= bottom position

        .cookie-reset 				= tTEST ONLY: when you want to reset the cookie (NEVER USE ON PRODUCTION)
                                      usage: add this class, refresh the page two times and then remove the class
-->
<div id="cookie-alert" class="alert alert-primary alert-position-bottom cookie-reset">
    <div class="container">

        <button type="button" class="close" data-dismiss="alert">
            <span class="cookie-close-btn" aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>

        <p class="fs-13">
            <i class="fa fa-warning"></i>
            We use cookies to provide you with a better service.
            Carry on browsing if you're happy with this, or find out how to
            <a href="#">manage cookies</a>.
        </p>

    </div>
</div>
<!-- /COOKIE ALERT -->
