﻿<footer id="footer">
    <div class="container">
    </div>
    <div class="copyright">
        <div class="container">
            <ul class="float-right m-0 list-inline mobile-block">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li>&bull;</li>
                <li><a href="#">Privacy</a></li>
            </ul>
            &copy; @DateTime.Now.Year - NickWardOnline.co.uk
        </div>
    </div>
</footer>