﻿<div id="topMain">
    <div class="menu-content">
        <div class="container">

            <!-- menu close -->
            <button id="menu_overlay_close">
                <i class="fa fa-remove"></i>
            </button><!-- /menu close -->

            <div class="row">
                <div class="col-md-8 col-xs-12 offset-md-2">

                    <div class="row">
                        <div class="menu-list col-md-6 col-sm-6">

                            <ul class="list-unstyled font-raleway">
                                @{
                                    Html.RenderAction("MainMenu", new { controller = "home" });
                                }
                            </ul>

                        </div>

                        <div class="text-right col-md-6 col-sm-6 hidden-xs-down">
                            <div class="letter-spacing-2 fs-16 fw-300">
                                <p>nick.ward@outlook.com</p>
                                <p>
                                    <!-- SOCAL ICONS -->
                                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="bottom" title="Google Plus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                                        <i class="icon-linkedin"></i>
                                        <i class="icon-linkedin"></i>
                                    </a>
                                    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-flickr" data-toggle="tooltip" data-placement="bottom" title="Flickr">
                                        <i class="icon-flickr"></i>
                                        <i class="icon-flickr"></i>
                                    </a>
                                </p><!-- /SOCAL ICONS -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>